.navbar-wrapper {
  .navbar {
    background-color: $lightgray;
    color: $white;
    height: 10vh;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    padding: 0 10px 0 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &--home-item {
      display: flex;
      .link {
        margin-right: 20px;
        font-size: 30px;

        @include breakpoint(550px) {
          font-size: 20px;
        }
        @include breakpoint(400px) {
          font-size: 15px;
        }
        &--hide {
          display: none;
        }
        &:hover {
          border-bottom: 1px solid $white;
        }
        &.link-active {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  .api-issue {
    width: 100%;
    font-size: 20px;
    background-color: rgb(250, 0, 0);
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    @include breakpoint(550px) {
      font-size: 15px;
    }
  }
}
