.home-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: $white;
  position: relative;

  .error_popup {
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    width: 700px;
    font-size: 4em;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: $white;
  }

  .input-container {
    position: relative;
    color: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      display: block;
      font-family: inherit;
      font-size: 5.5vw;
      position: absolute;
      width: 80%;
      top: 5%;
      left: 20%;
      padding: 10px;
      transition: all 0.5s;
      cursor: text;
      @include breakpoint(768px) {
        left: 10%;
      }
    }

    &.active label {
      top: -70%;
      font-size: 3.5vw;
      @include breakpoint(768px) {
        top: -90%;
        left: 10%;
      }
    }

    &.active input {
      box-shadow: 0 0 3pt 1pt $white;
      background-color: rgba(0, 0, 0, 0.2);
    }

    input {
      width: 60%;
      font-size: 6vw;
      margin-top: 2px;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      background-color: rgba(0, 0, 0, 0.1);
      color: $white;
      @include breakpoint(768px) {
        width: 80%;
      }
    }
  }
}
