.infamy-container {
  color: $white;
  font-size: 2em;
  width: 80%;
  margin: 20px auto;
  position: relative;

  @include breakpoint(890px) {
    width: 90%;
  }

  .track-container {
    display: flex;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 5px 10px 0;
    padding: 10px;
    padding-left: 5%;

    @include breakpoint(714px) {
      flex-direction: column;
      text-align: center;
      & div ~ div {
        margin-top: 10px;
      }
    }
    & div {
      width: 320px;
      margin: 0 auto;
    }
  }

  .error_popup {
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    width: 700px;
    font-size: 2em;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: $white;
  }
  .multi_membership_popup {
    background-color: rgb(31, 29, 29);
    top: 160px;
    z-index: 1;

    .membershipLi {
      width: min-content;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      &:nth-child(odd) {
        margin-bottom: 10px;
      }
      &.psn {
        background-color: rgb(30, 32, 161);
        &:hover {
          background-color: rgb(65, 67, 167);
        }
      }
      &.xbox {
        background-color: rgb(30, 161, 36);
        &:hover {
          background-color: rgb(65, 167, 82);
        }
      }
      &.pc {
        background-color: rgb(161, 30, 30);
        &:hover {
          background-color: rgb(167, 65, 65);
        }
      }
    }
  }
}
