.infamy-container {
  color: $white;
  font-size: 2em;
  width: 80%;
  min-height: 75vh;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .track-wrapper {
    width: 100%;
  }
  @include breakpoint(390px) {
    font-size: 1.8em;
  }
  @include breakpoint(360px) {
    font-size: 1.3em;
  }
  @include breakpoint(890px) {
    width: 90%;
  }

  .track-container {
    display: flex;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 5px 10px 0;
    padding: 10px;

    @include breakpoint(714px) {
      flex-direction: column;
      text-align: center;
      & div ~ div {
        margin-top: 10px;
      }
    }
    & div {
      width: 320px;
      margin: 0 auto;
      @include breakpoint(400px) {
        width: 100%;
      }
    }
  }
}
