@import "../base/base";

.footer {
	background-color: rgb(6, 18, 31);
	color: white;
	text-align: center;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.source-and-contact,
	.info {
		list-style-type: none;
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		padding: 0;

		@include breakpoint(600px) {
			margin-right: 0;
		}
		li {
			margin-right: 20px;
			a {
				text-decoration: none;
				color: white;

				&:hover {
					color: aqua;
				}

				.fa {
					font-size: 1.5em;
				}
				span {
					margin-left: 5px;
					font-size: 1.3em;

					@include breakpoint(600px) {
						display: none;
					}
				}
			}
		}
	}

	.info {
		margin-left: 0;
		margin-right: 0;
	}
	.developer {
		margin-left: 10px;

		li {
			.developer-anchor {
				color: aqua;
			}
		}
	}
}
