@import "../base/base";

.navbar-wrapper {
	padding: 5px 0;
	background-color: rgb(0, 17, 36);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	.navbar {
		color: $white;
		display: flex;
		flex-direction: flex-start;
		align-items: center;
		padding: 10px 10px;

		&--home-item {
			display: flex;
			.link {
				margin-right: 20px;
				font-size: 30px;
				font-weight: 500;

				@include breakpoint(560px) {
					font-size: 20px;
				}
				@include breakpoint(410px) {
					margin-right: 10px;
					font-size: 15px;
				}
				&--hide {
					display: none;
				}
				&:hover {
					color: rgb(3, 232, 232);
				}
				&.link-active {
					color: rgb(41, 206, 206);
				}
			}
		}

		&--addon {
			margin-left: auto;
			font-size: 30px;
			margin-right: 10px;

			a {
				&:hover {
					color: rgb(3, 232, 232);
				}
			}
			@include breakpoint(550px) {
				font-size: 20px;
			}
			@include breakpoint(400px) {
				font-size: 15px;
			}
		}
	}

	.api-issue {
		width: 100%;
		font-size: 20px;
		background-color: rgb(250, 0, 0);
		font-weight: 460;
		padding: 5px 30px;
		color: rgb(255, 253, 253);
		text-align: center;
		@include breakpoint(550px) {
			font-size: 18px;
		}
	}
}
