@import "../base/base";

.multi_membership_popup {
	position: absolute;
	right: 0;
	left: 0;
	font-size: 4em;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	color: $white;
	background-color: rgb(31, 29, 29);
	top: 160px;
	z-index: 1;
	width: 70%;
	@include breakpoint(750px) {
		top: 180px;
	}
	@include breakpoint(480px) {
		top: 220px;
	}
	.membershipsUL {
		margin: 0 auto;
		width: 80%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.membershipLi {
			cursor: pointer;
			border-radius: 5px;
			padding: 10px;
			@include breakpoint(750px) {
				font-size: 40px;
			}
			@include breakpoint(480px) {
				font-size: 20px;
			}
			&:nth-child(odd) {
				margin-bottom: 10px;
			}
			&.psn {
				background-color: rgb(30, 32, 161);
				&:hover {
					background-color: rgb(65, 67, 167);
				}
			}
			&.xbox {
				background-color: rgb(30, 161, 36);
				&:hover {
					background-color: rgb(65, 167, 82);
				}
			}
			&.pc {
				background-color: rgb(161, 30, 30);
				&:hover {
					background-color: rgb(167, 65, 65);
				}
			}
		}
	}
}
