$color-gray: #8f8f8f;

.et--container {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.et__icon {
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
  margin: 5px;

  > img {
    width: 100%;
    height: 100%;
  }
}

.et__description {
  margin: 5px 0;
  flex: 1;
  overflow: hidden;

  .et__category {
    color: $color-gray;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .et__perks {
    display: flex;
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .et__perk-icon {
      min-height: 25px;
      min-width: 25px;
      max-height: 25px;
      max-width: 25px;
      margin-right: 5px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
