@import "./variables";

.nightfall--wrapper {
  text-align: center;
  .nightfall-title {
    font-size: 25px;
    font-weight: bold;
  }

  .nightfall-current-nfs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    color: $color-dark-gray;
    > div {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}
