@import "./variables";
@import "./breakpoints";

.raid-card--wrapper {
  width: 100%;

  .raid-card__header {
    display: flex;
    align-items: baseline;

    > h1 {
      margin-right: 10px;
      @include breakpoint(480px) {
        font-size: 20px;
      }
    }

    .raid-card__time-played {
      color: $color-dark-gray;
    }
  }
  .raid-card__stats {
    display: flex;
    padding: 5px 5px 5px 0;

    &-box {
      width: 150px;
      height: 80px;
      margin: 5px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.493);
      &:nth-child(1) {
        margin-left: 0;
      }

      @include breakpoint(520px) {
        font-size: 8px;
        height: 40px;
      }
    }

    &-primary {
      font-size: 2em;

      @include breakpoint(520px) {
        font-size: 1.5em;
      }
    }

    &-secondary {
      color: $color-dark-gray;
      @include breakpoint(520px) {
        font-size: 8px;
      }
    }
  }

  .raid-card__badges {
    padding: 5px 5px 5px 0;
    display: flex;
    flex-wrap: wrap;
    .raid-card__badges-text {
      white-space: nowrap;
      margin: 5px;
      color: black;
      background-color: gold;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-child(5) {
        @include breakpoint(354px) {
          margin-left: 0;
        }
      }

      @include breakpoint(600px) {
        font-size: 10px;
      }
    }
  }

  .raid-card__activities {
  }
}
