@import "variables";
@import "breakpoints";

.raid--update_modal,
.raid--update_modal-error {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gold;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;

  @include breakpoint(600px) {
    padding: 5px;
    font-size: 15px;
  }
}
