.App {
  min-height: 100vh;
  //background: url(~/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: radial-gradient(
    circle,
    rgba(18, 18, 18, 0.9),
    rgba(18, 18, 18, 0.89),
    rgba(18, 18, 18, 0.88)
  );
  // background-color: rgb(18, 18, 18);
}
