* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    rgb(0, 128, 128) 0%,
    rgb(5, 63, 69) 50%,
    rgb(5, 63, 69) 50%,
    rgb(9, 21, 30) 100%
  );
}
a {
  color: $white;
  text-decoration: none;
}
