.pgcr-container {
  color: $white;
  width: 80%;
  min-height: 75vh;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .error_activity {
    font-size: 2em;
  }
  .track-wrapper {
    width: 100%;
    font-size: 2em;
    @include breakpoint(390px) {
      font-size: 1.8em;
    }
    @include breakpoint(360px) {
      font-size: 1.3em;
    }
  }
  @include breakpoint(890px) {
    width: 90%;
  }

  .track-container {
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    outline: none;
    background-color: rgb(8, 8, 8);
    margin: 0 5px 10px 0;
    padding: 10px;
  }
}
