$color-light-gray: #e0e0e0;
$color-dark-gray: #a9a9a9;
$color-gold: #ffd700;
$color-bright-green: rgb(28, 192, 28);
$color-bright-red: rgb(224, 0, 0);
$color-light-transparent-black: rgba(0, 0, 0, 0.356);
