@import "./variables";
@import "./breakpoints";

.rh--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.rh__overall {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;

  @include breakpoint(768px) {
    min-width: 150px;
  }

  @include breakpoint(480px) {
    min-width: 85px;
  }
  .rh__overall-text {
    font-size: 30px;
    font-weight: 600;

    @include breakpoint(768px) {
      font-size: 25px;
    }
    @include breakpoint(480px) {
      font-size: 14px;
    }
  }
  .rh__overall-games {
    font-size: 14px;
    color: $color-dark-gray;

    @include breakpoint(700px) {
      font-size: 10px;
    }
  }
}

.rh__stats {
  min-width: 60%;
  display: flex;

  .rh__stats-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.493);
    padding: 15px;

    @include breakpoint(480px) {
      padding: 10px;
    }

    &:first-child {
      margin-left: 0;
    }
  }
  .rh__stats-primary {
    font-size: 2vw;
    font-weight: 600;

    @include breakpoint(720px) {
      font-size: 3vw;
    }
    @include breakpoint(480px) {
      font-size: 14px;
    }
  }
  .rh__stats-secondary {
    font-size: 14px;
    color: $color-dark-gray;
    @include breakpoint(660px) {
      font-size: 5px;
    }
  }
}
