@import "breakpoints";
@import "variables";

.crucible-card__wrapper {
  margin-bottom: 20px;

  .crucible-card__headr-container {
    display: flex;

    .cruble-card_header {
      margin-bottom: 20px;

      .crucible-card__hours-played {
        font-size: 16px;
        color: $color-dark-gray;
      }
    }

    .progression--icon {
      width: 75px;
      height: 75px;

      @include breakpoint(600px) {
      }

      > img {
        height: 100%;

        @include breakpoint(600px) {
          transform: translateY(10px);
        }
      }
    }
  }

  .crucible-card__stats {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
  }
}

.crucible-card__stats-box.crucible-card__stats-img {
  background-color: transparent;
  padding: 0;
}

.progression--info {
  min-width: 250px;

  @include breakpoint(768px) {
    min-width: 145px;
  }
  @include breakpoint(480px) {
    min-width: 85px;
  }
  &__header {
    font-size: 16px;
    color: $color-dark-gray;
  }

  &__rank {
    font-size: 20px;
    @include breakpoint(480px) {
      font-size: 10px;
    }
  }
}

.crucible-card__stats-box {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);

  @include breakpoint(768px) {
    padding: 10px;
  }

  @include breakpoint(480px) {
    padding: 10px 5px;
  }

  &:nth-child(1) {
    margin-left: 0;
  }

  .crucible-card__stats-primary {
    font-size: 25px;

    @include breakpoint(768px) {
      font-size: 18px;
    }
    @include breakpoint(480px) {
      font-size: 14px;
    }
  }

  .crucible-card__stats-secondary {
    color: $color-dark-gray;
    font-size: 14px;
    @include breakpoint(768px) {
      font-size: 10px;
    }
    @include breakpoint(480px) {
      font-size: 8px;
    }
  }
}
