@import "breakpoints";
@import "variables";

.crucible-card__wrapper {
  margin-bottom: 20px;

  .crucible-card__stats {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 0;
  }
}

.crucible-card__stats-box.crucible-card__stats-img {
  background-color: transparent;
  padding: 0;
  min-width: 100px;
  min-height: 100px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(-18px);
  position: relative;
  @include breakpoint(480px) {
    transform: translateX(-5px);
  }
  .progression--icon {
    width: 100px;
    height: 100px;

    @include breakpoint(480px) {
      width: 50px;
      height: 50px;
    }

    > img {
      height: 100%;
    }
  }

  @include breakpoint(768px) {
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    margin-right: 0;
  }

  @include breakpoint(480px) {
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }
}

.progression--info {
  &__header {
    color: $color-dark-gray;
  }

  @include breakpoint(480px) {
    font-size: 10px;
    white-space: nowrap;
  }
}

.crucible-card__stats-box {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.493);

  @include breakpoint(768px) {
    padding: 10px;
  }

  @include breakpoint(480px) {
    padding: 10px 5px;
  }

  &:nth-child(1) {
    margin-left: 0;
  }

  .crucible-card__stats-primary {
    font-size: 25px;

    @include breakpoint(768px) {
      font-size: 14px;
    }
  }

  .crucible-card__stats-secondary {
    color: $color-dark-gray;
    font-size: 14px;
    @include breakpoint(768px) {
      font-size: 10px;
    }
    @include breakpoint(480px) {
      font-size: 8px;
    }
  }
}
