@import "variables";

.footer--wrapper {
  height: 50px;
  background-color: rgba(9, 10, 15, 0.637);
  width: 100%;
}

.footer--content {
  max-width: 1200px;
  font-size: 20px;
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    min-width: 70px;
    text-align: center;
  }
}

.footer--source {
  margin: 0 auto;
}
.footer--link_a:hover {
  color: $color-gold;
}
