@import "variables";
@import "breakpoints";

.header--wrapper {
  height: 60px;
  background-color: rgba(9, 10, 15, 0.637);
  width: 100%;
}

.header--content {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.destiny-report--donate {
  margin-left: auto;
}
.destiny-report--donate,
.destiny-report--title {
  font-weight: bold;
  font-size: 25px;
  color: rgb(151, 151, 151);

  @include breakpoint(480px) {
    font-size: 16px;
  }
  &::after {
    height: 2px;
    display: block;
    width: 100%;
    background: $color-gold;
    content: "";
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 1px;
  }
  &:hover:after {
    transform: scale(1);
  }
}
