@import "./variables";
@import "./breakpoints";

.navbar {
  display: flex;
}

.navbar__item {
  font-size: 20px;
  margin-right: 10px;
  display: block;

  @include breakpoint(580px) {
    margin-right: 8px;
    font-size: 16px;
  }

  &::after {
    height: 2px;
    display: block;
    width: 100%;
    background: $color-gold;
    content: "";
    transform: scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    margin-top: 1px;
  }
  &:hover:after {
    transform: scale(1);
  }

  &.navbar__item-active {
    &::after {
      transform: scale(1);
    }
  }
}

.top-nav {
  @include breakpoint(600px) {
    display: none;
  }
}
.bottom-nav {
  display: none;
  @include breakpoint(600px) {
    display: flex;
    margin-top: 20px;
  }
}
