@import "./variables";
@import "./breakpoints";

.pgcr--wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .pgcr-date {
    color: $color-dark-gray;
    text-shadow: 0.3px 0.3px 0.3px #1f1f1f;
    background: linear-gradient(
      to right,
      rgba(5, 5, 5, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(78, 88, 102, 0) 100%
    );

    padding: 5px 10px;
    border-radius: 3px;
  }
}

.pgcr--activity {
  margin-bottom: 10px;

  &-details {
    margin: 20px 0;

    &_name {
      font-size: 40px;
      font-weight: bold;

      @include breakpoint(600px) {
        font-size: 30px;
      }
    }
    &_type {
      color: $color-dark-gray;
      display: flex;
      font-size: 18px;
      text-shadow: 0.3px 0.3px 0.3px #1f1f1f;

      @include breakpoint(600px) {
        font-size: 14px;
      }

      > div {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 2px 4px;
        border-radius: 3px;
      }
      &_sfi {
        margin-left: auto;
      }
    }
  }
}

.pgcr--player {
  display: flex;

  background-color: rgba(0, 0, 0, 0.3);
  padding-right: 5px;
  margin-bottom: 10px;
  border-left: 3px solid $color-bright-green;

  &.lost {
    border-left: 3px solid $color-bright-red;
  }

  &-icon {
    height: 50px;
    margin-right: 5px;
    > img {
      height: 100%;
    }
  }

  &-details {
    padding-top: 5px;
    &_class {
      font-size: 14px;
      color: $color-dark-gray;
    }
  }

  &-stats {
    display: flex;

    margin-left: auto;
    &-box {
      margin-left: 50px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include breakpoint(720px) {
        margin-left: 20px;
      }
      @include breakpoint(480px) {
        margin-left: 10px;
      }

      &_primary {
        font-size: 18px;
        @include breakpoint(480px) {
          font-size: 14px;
        }
      }
      &_secondary {
        font-size: 15px;
        color: $color-dark-gray;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
          0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

        @include breakpoint(480px) {
          font-size: 10px;
        }
      }
    }
  }
}
